@font-face {
  font-family: Arial;
  src: url(./../fonts/arial/ARIAL.TTF);
}
@font-face {
  font-family: NAMO;
  src: url("./../fonts/NAMU-typefaces2019/Desktop/TTF/NAMU-1990.ttf");
}
@font-face {
  font-family: neutral;
  src: url("./../fonts/neutral/stylesheet.css");
}

.none {
  display: none !important;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.no-scroll {
  overflow-y: hidden;
}
